In [1]:
print("********************Series in Pandas*****************************\n")
import pandas as pd 
import numpy as np
series1 = pd.Series(['a','b','c','d','e','f','g'],index=[0,1,2,3,4,5,6])                 #Haris Amin
print(series1)
print(series1[2])
#print(series1[4] = 'HARIS')

print("\n*************************************************************\n")

series2 = pd.Series({"ID":"17CS",
                     "Name":"Haris",                      # WE use dictionaries 
                     "Fname":"Amin",
                     "Email":"17CS28@quest.edu.pk",
                     "Phone no:":"03321127718"
                    })
print(series2)
print("\n")
print(series2.index)
print("\n")
print(series2.values)
print("\n")
print(series2)

print("\n*************************************************************\n")

state = ['Pakistan','Iran','UK','Iraq','UAE']           # we use List 
series3 = pd.Series(state,index=[2,4,6,8,10])    
print(series3)
print("\n")
print(pd.isnull(series3))
print("\n")
print(pd.notnull(series3))
print("\n")
print(series1+series3)

********************Series in Pandas*****************************

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object
c

*************************************************************

ID                          17CS
Name                       Haris
Fname                       Amin
Email        17CS28@quest.edu.pk
Phone no:            03321127718
dtype: object


Index(['ID', 'Name', 'Fname', 'Email', 'Phone no:'], dtype='object')


['17CS' 'Haris' 'Amin' '17CS28@quest.edu.pk' '03321127718']


ID                          17CS
Name                       Haris
Fname                       Amin
Email        17CS28@quest.edu.pk
Phone no:            03321127718
dtype: object

*************************************************************

2     Pakistan
4         Iran
6           UK
8         Iraq
10         UAE
dtype: object


2     False
4     False
6     False
8     False
10    False
dtype: bool


2     True
4     True
6     True
8     True
10    True
dtype: bool


0           NaN
1           NaN
2     cPakistan
3           NaN
4         eIran
5           NaN
6           gUK
8           NaN
10          NaN
dtype: object

In [3]:
print("\n******************Data Frame in Python***********************\n")
frame1 = pd.DataFrame([
                      {"Days": [1,2,3,4,5,6,7],                       # Data Frame is widely used in pandas
                       "Temperatures": [20,43,23,43,54.32,43],
                       "Windy": [2,4,5,6,3,6,4],}
                       #"Rainy": [True,False,True,True,False,True,True]}
                      ]) 

print(frame1)

******************Data Frame in Python***********************

                    Days                 Temperatures                  Windy
0  [1, 2, 3, 4, 5, 6, 7]  [20, 43, 23, 43, 54.32, 43]  [2, 4, 5, 6, 3, 6, 4]

In [8]:
import pandas as pd
frame2 = pd.DataFrame([
                       {"day":2, "temp":32, "windy":32} 
                         #Array based Database
                     ])
frame2

   day  temp  windy
0    2    32     32

In [40]:
frame3 = pd.DataFrame([(1,23,21),(2,53,15),(3,47,14)],columns = ["days","temp","windy"]) #Tuple based Database
print(frame3)

frame3.to_excel('python code.xlsx',sheet_name = 'sheet 1')           # Python code to Create Excel File
print(frame3)

   days  temp  windy
0     1    23     21
1     2    53     15
2     3    47     14
   days  temp  windy
0     1    23     21
1     2    53     15
2     3    47     14

In [19]:
frame4 = pd.read_csv('D:\Semister System\FB Group Learn AI with Dr. Noman Islam\diabetes.csv')
print(frame4)       #import CSVFile

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [20]:
print(frame4['Glucose'])

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

In [21]:
print(frame4['Age'])

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [22]:
print(frame4[['Insulin','BMI']])

     Insulin   BMI
0          0  33.6
1          0  26.6
2          0  23.3
3         94  28.1
4        168  43.1
..       ...   ...
763      180  32.9
764        0  36.8
765      112  26.2
766        0  30.1
767        0  30.4

[768 rows x 2 columns]

In [23]:
frame4.index

RangeIndex(start=0, stop=768, step=1)

In [24]:
frame4.head(10)       # head() function is used if we want to access upper rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [25]:
frame4.tail(123)    # tail() function is used if we want to access lower rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
645,2,157,74,35,440,39.4,0.134,30,0
646,1,167,74,17,144,23.4,0.447,33,1
647,0,179,50,36,159,37.8,0.455,22,1
648,11,136,84,35,130,28.3,0.260,42,1
649,0,107,60,25,0,26.4,0.133,23,0
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [26]:
frame4.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [27]:
frame4.loc[3]          #Location

Pregnancies                  1.000
Glucose                     89.000
BloodPressure               66.000
SkinThickness               23.000
Insulin                     94.000
BMI                         28.100
DiabetesPedigreeFunction     0.167
Age                         21.000
Outcome                      0.000
Name: 3, dtype: float64

In [28]:
print(frame4['Pregnancies'].max())
print(frame4['Glucose'].max())
print(frame4['BloodPressure'].max())
print(frame4['SkinThickness'].max())
print(frame4['Insulin'].max())
print(frame4['BMI'].max())
print(frame4['DiabetesPedigreeFunction'].max())
print(frame4['Age'].max())
print(frame4['Outcome'].max())

17
199
122
99
846
67.1
2.42
81
1

In [29]:
print(frame4['Pregnancies'].min())
print(frame4['Glucose'].min())
print(frame4['BloodPressure'].min())
print(frame4['SkinThickness'].min())
print(frame4['Insulin'].min())
print(frame4['BMI'].min())
print(frame4['DiabetesPedigreeFunction'].min())
print(frame4['Age'].min())
print(frame4['Outcome'].min())

0
0
0
0
0
0.0
0.078
21
0

In [30]:
print(frame4['Pregnancies'].mean())
print(frame4['Glucose'].mean())
print(frame4['BloodPressure'].mean())
print(frame4['SkinThickness'].mean())
print(frame4['Insulin'].mean())
print(frame4['BMI'].mean())
print(frame4['DiabetesPedigreeFunction'].mean())
print(frame4['Age'].mean())
print(frame4['Outcome'].mean())

3.8450520833333335
120.89453125
69.10546875
20.536458333333332
79.79947916666667
31.992578124999977
0.4718763020833327
33.240885416666664
0.3489583333333333

In [31]:
frame4.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [32]:
print("***************************New Row Created*****************************")
frame4['Haris']='20'

***************************New Row Created*****************************

In [33]:
frame4

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Haris
0,6,148,72,35,0,33.6,0.627,50,1,20
1,1,85,66,29,0,26.6,0.351,31,0,20
2,8,183,64,0,0,23.3,0.672,32,1,20
3,1,89,66,23,94,28.1,0.167,21,0,20
4,0,137,40,35,168,43.1,2.288,33,1,20
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,20
764,2,122,70,27,0,36.8,0.340,27,0,20
765,5,121,72,23,112,26.2,0.245,30,0,20
766,1,126,60,0,0,30.1,0.349,47,1,20
767,1,93,70,31,0,30.4,0.315,23,0,20

In [35]:
 #frame4['Haris']= np.arrange(12.)

In [36]:
del frame4['Haris']

In [37]:
frame4

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [38]:
print(frame4.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [41]:
frame3.T      # T means Transpose

        0   1   2
days    1   2   3
temp   23  53  47
windy  21  15  14

In [42]:
frame4.shape

(768, 9)

In [52]:
frame4.shape
print(row)
print(column)

768
9

In [54]:
frame4.sort_values(by ='BloodPressure' )

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
347,3,116,0,0,0,23.5,0.187,23,0
494,3,80,0,0,0,0.0,0.174,22,0
222,7,119,0,0,0,25.2,0.209,37,0
81,2,74,0,0,0,0.0,0.102,22,0
78,0,131,0,0,0,43.2,0.270,26,1
...,...,...,...,...,...,...,...,...,...
549,4,189,110,31,0,28.5,0.680,37,0
43,9,171,110,24,240,45.4,0.721,54,1
177,0,129,110,46,130,67.1,0.319,26,1
691,13,158,114,0,0,42.3,0.257,44,1
106,1,96,122,0,0,22.4,0.207,27,0

In [55]:
frame4[ :8]             # Slicing

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0

In [56]:
frame4[-10:-1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1